body {
  background: #F5F5F0;
  color: black;
  font-family: cursive;
}

.list-movies-title {
  padding: 10px 0;
  background: #FFE4B5;
  color: rgb(31, 29, 29);
  text-align: center;
  font-size: 16pt;
}

.movie-grid {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 70vw;



}

.movie-grid-item {
  padding: 10px 15px;
  text-align: left;
  display: block;


}

.movie {
  width: 130px;
  padding-right: 5rem;
  position: relative;

}



.movie-title {
  margin-top: 10px;
  text-transform: capitalize ;
  width:200px ;
  font-size: 0.9em;
  display: flex;
  justify-content: space-around;



}

.movie-year {
  color: #999;
  padding-bottom: 0;
  font-size: 0.8em;
  transform: translateY(-10px);
  margin-left: 15px;



}

.flag{
  height: 20px;
  width:20px;

}



.movie-rating{
  font-size: 0.8em;
  border: 1px solid rgb(204, 200, 200);
  display: inline-block;
  padding: 2px 5px;
  width: 42px;
  height: 16px;
  margin-right: 10px;


}

.rate_flag{
  display: flex;
  justify-content: end;
}

.movie-poster {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);


}

img {
height: 300px;
max-width: 205px;

}

img:hover{

  transform: translateY(-2px);
  transition: ease 0.2s;

}


.movie-note {
  display: none;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  font-size: 0.9rem;
}

.movie:hover .movie-note {
  display: block;
}

.fa-star{
color: rgba(247, 187, 75, 0.86);
font-size: 100px;
}


@media only screen and (max-width:700px) {
  .movie-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .movie-grid-item {
    margin-bottom: 20px;
  }

  .movie {
    padding-right: 0;
  }


  img {
    height: 300px;

  }
}

